# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/
ENV/
.venv/
.VENV/

# Ignore Jupyter Notebook output
*.ipynb

# Ignore system files
.DS_Store

.vscode


# Location of your big data files
data/bigDataSet.csv
data/20230126_merged.csv
