# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/
ENV/
.venv/
.VENV/

# Ignore Jupyter Notebook output
*.ipynb

# Ignore system files
.DS_Store

.vscode
.idea

# Ignore data files
data/
